/*-------Fonts-------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Indie+Flower&family=Nosifer&family=Roboto&display=swap');
/*-------Body-------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
 font-family: 'Berkshire Swash', cursive;
 color: ivory;
}

/*-------Background and color-------*/
/*Changed the color of the navbar*/
.bg-navbar {
    background-color: olivedrab;
}

.bg-home-container {
    background: url('../images/castlesunset.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    overflow: hidden;
}

@media (min-width: 575.98px) { 

.bg-home-container {
    background: url('../images/castlesunset.jpg') no-repeat center center;
    background-size: cover;
    height: 120vh;
    min-width: 100%;
    overflow: hidden;
}
}

.bg--story {
    background-color: chocolate;
    height: 100vh;
    min-width: 100%;
}


.bg-explore {
    background-color: olivedrab;
    height: 100vh;
    min-width: 100%;
}

/*-------Navbar-------*/
nav a h1 {
    color: ivory;
}

#home-txt-clr {
  color: ivory;  
}
/*-------Stack Overflow/toggler change-------*/

#icon-size {
    background-color: olivedrab;
    fill: ivory;
    width: 50px;
    height: 50px;
}

#icon-color {
    fill: ivory;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*-----Home Page-------*/

/*-----Slider-------*/
.slider-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-------Content Styling------*/
.img-card {
  background: url('../images/poppy-castle.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

h1 {
  margin: 0.5rem 0;
}

/*-------Container and Cards------*/
/*-------Adding a border top and bottom to help understand card container and container----*/ 
.container-slider {
  position: relative;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  overflow-x: scroll;
  cursor: grab;
  /*border-top: 10px solid red;- use as guides*/
}

/*-------Cards are using CSS Grid system------*/
/* --change the position to Absolute as we will change the Lft position in JS--*/
.cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(7, 300px);
  grid-gap: 50px;
  pointer-events: none;
  /*border-bottom: 10px solid blue; - use as guides*/
}

.card {
  background-color: olivedrab;
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
}

.card-content {
  color: ivory;
  padding: 1rem;
}

.shadow {
    box-shadow: rgba(0, green0, blue0, 0.8);
}
/*-------Our Story Page-------*/
/*-------Explore Page-------*/
/*-------Footer Page-------*/