/*-------Fonts-------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Indie+Flower&family=Nosifer&family=Roboto&display=swap');
/*-------Body-------*/

html,body{
    overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
 font-family: 'Berkshire Swash', cursive;
 color: ivory;;
 background-color: #FF9F55;
}

/*-------Background and color-------*/
/*Changed the color of the navbar*/
.bg-navbar {
    background-color: olivedrab;
}

.bg-home-container {
    background: url('../images/hero.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/*--@media (min-width: 575.98px) { 

.bg-home-container {
    background: url('../images/hero.png') no-repeat center center;
    background-size: cover;
    filter: orange;
    height: 120vh;
    min-width: 100%;
    overflow: hidden;
}
}
*/

.bg-grn {
  background-color: rgba(6, 153, 1, 0.8);
}

#bg-oge {
  background-color: #FF9F55;;
}

.bg--story {
    background-color: chocolate;
    height: 100vh;
    min-width: 100%;
}

.bg-explore {
    background-color: olivedrab;
    height: 100vh;
    min-width: 100%;
}

/*-------Navbar-------*/
nav a span h1 {
    color: ivory;
}

#home-txt-clr {
  color: ivory;  
}

#tm-sm {
    font-size: x-small;
    bottom: 20px;
}
/*-------Stack Overflow/toggler change-------*/

#icon-size {
    background-color: olivedrab;
    fill: ivory;
    width: 50px;
    height: 50px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*-----Home Page-------*/
.container-size {
    max-width: 100%;
    height: 100px;
    
}
.col {
    width: 200px;
    min-height: auto;
}

.col-home-size {
    height: 700px;
}

/*-----Hero text-------*/
.home-text {
text-align: center;
text-justify: auto;
margin-top: 350px;
font-size: 100px;
}

/*-----Slider-------*/

/*-------Our Story Page------- Time line taken from Rosie Project*/

#story-hd-text {
    font-size: 50px;
    text-align: center;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}
.history-items {
    margin-bottom: 30px;
}

/*-------Explore Page-------*/
#map {
 width: 100%;  
 height: 500px; 
 border: 2px solid ivory;
 border-radius: 10px;
}

/*-------Footer Page-------*/